body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    position: relative;
    height: 70vh;
    min-height: 400px;
    min-width: 300px;
    background-color: #303841;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.header-name {
    font-size: 2vw;
    letter-spacing: 5px;
    font-weight: bold;
}

.header-name-first-letter{
    color: #6400E4;
}

.header-job {
    font-size: 1.2vw;
    letter-spacing: 5px;
    padding-top: 30px;
}

.header-btn{
    letter-spacing: 1px;
    font-size: 1vw;
    padding: 20px 30px;
    text-transform: uppercase;
    background-color: #6400E4;
    color: #FFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
  
svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vw;
    /* set height to pixels if you want angle to change with screen width */
}


/* Description Section */

.section-description{
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-description-one-sentence{
    text-align: center;
    font-size: 1.1vw;
    font-weight: 600;
    /* background-color: green; */
}

.section-description-abilities{
    display: flex;
    justify-content: space-around;
    /* flex-grow: 1;  */
    /* background-color: palegoldenrod; */
}

.section-description-abilities-title{
    font-size: 1.1vw;
    border-bottom: solid #6400E4;
    padding-bottom: 10px;
    display: inline-block;
}